* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #101010;
}

/*Navigation bar container*/
header {
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 1px;
}

.logo {
  width: 120px;
  cursor: pointer;
  margin-left: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  background: linear-gradient(45deg, #009688, #f9004d, #ffd587, #f2ff41);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #009688;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: linear-gradient(45deg, #009688, #f9004d, #ffd587, #f2ff41);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.8s;
  border-radius: 5px;
}

.navbar ul li.active::after {
  width: 100%;
}

.navbar ul li:hover::after {
  width: 100%;
}

/* Add styles for the dropdown */
.navbar ul .dropdown-parent {
  position: relative;
}

.navbar ul .dropdown {
  display: none;
  position: absolute;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 100%;
  left: 0;
  background-color: #101010;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  padding: 10px;
  width: 100%;
  transition: 0.8s;
}

.navbar ul .dropdown li {
  display: block;
  margin: 30px 0;
}

/* Show the dropdown when the parent item is hovered */
.navbar ul .dropdown-parent:hover .dropdown {
  display: block;
  transition: 0.8s;
}

.hamburger {
  display: none; /* Hide the hamburger icon by default on larger screens */
  cursor: pointer;
  padding: 10px;
}

.hamburger .line {
  width: 30px;
  height: 3px;
  background-color: #009688;
  margin-bottom: 5px;
}

@media only screen and (max-width: 950px) {
  .navbar ul li:not(:first-child) {
      display: none; /* Hide navigation items except the home link */
  }

  .hamburger {
      display: block; /* Show the hamburger icon on smaller screens */
  }

  .navbar.active ul{
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #101010;
    text-align: center;
    
  }

  .navbar.active ul li {
      display: block; /* Show navigation items when the hamburger icon is active */
      margin-bottom: 20px;
  }
  .navbar ul li.active::after {
    display: none;
  }

  .navbar ul li:hover::after {
    display: none;
  }

}


.section1 {
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(/images/background_two_compressed.webp); /*rgba used to achieve a gradient effect over the image to make it's opacity lower*/
  background-position: center;
  background-size: cover;
  width: auto;
  height: 100vh;
}

.sec1bg img {
  background-position: center;
  background-size: cover;
  width: auto;
  height: 70vh;
  margin-top: -100px;
  z-index: -1;
}

.headingone {
  display: flex;
  justify-content: center;
  padding-top: 150px;
  font-family: "Tulpen One", cursive;
  font-size: 100px;
  color: #ffffff;
  
}

.slogan {
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-size: 30px;
  margin-bottom: 40px;
  font-family: 'Cedarville Cursive', cursive;
}

.linkbar {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  padding: 10px 10px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: -30px;
}

.linkbar p {
  margin: 0;
  margin-right: 10px;
  position: relative;
  transform: translateX(10%);
  color: #897c80;
}
.linkbar button {
  background-color: cyan;
  color: #000;
  border: none;
  padding: 10px 20px;
  margin-left: 70px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.8s;
  margin-left: 110px;
}

.linkbar button:hover {
  box-shadow: 0 0 5px cyan, 0 0 10px cyan, 0 0 10px cyan, 0 0 100px cyan,
    0 0 200px cyan; /*This is the neon lighting effect that turns on when hovered*/
  transition: 0.8s ease;
}

.linkbar button a {
  text-decoration: none;
  color: #000000;
}

@media (max-width: 768px){
  .section1{
    padding: 60px;
  }

  .headingone{
    font-size: 50px;
  }

  .slogan {
    font-size: 20px;
    white-space: nowrap; /* Prevent text from wrapping to the next line */
  }

}

.section2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background: #ffffff;
}

.sec2imagecontainer {
  flex: 1;
  padding: 50px;
}

.sec2imagecontainer img {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-right: 30px; /* Add right margin to create space between image and text */
  padding-top: 100px;
}

.sect2textcontainer {
  flex: 1;
  font-size: 18px;
  line-height: 1.5;
  margin-top: 60px;
  width: 75%;
}

.sect2textcontainer h2 {
  text-align: center;
  margin-top: -50px;
  font-family: "Tulpen One", cursive;
  font-size: 60px;
}

.section2 hr {
  background: linear-gradient(45deg, #009688, #f9004d, #ffd587, #f2ff41);
  color: transparent;
  z-index: 1;
  border: none;
  height: 2px;
  width: 100%;
  margin-bottom: 50px;
}


/* Media query for mobile screens */
@media only screen and (max-width: 768px) {
  .section2 {
    flex-direction: column; /* Stack elements vertically on smaller screens */
    text-align: center; /* Center-align text content */
  }

  .sec2imagecontainer img {
    margin-right: 0; /* Remove right margin on mobile screens */
    margin-bottom: 20px; /* Add some spacing between image and text on mobile screens */
  }

  .sect2textcontainer {
    width: 90%; /* Adjust the width for better readability on mobile screens */
    margin-top: 20px; /* Reduce top margin on mobile screens */
  }

  .sect2textcontainer h2 {
    font-size: 40px; /* Reduce font size for smaller screens */
  }
}

/*Section 3*/

.section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: #ffffff;
}

.sec3cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.sec3text {
  flex: 1;
  font-size: 18px;
  line-height: 1.5;
  margin-top: auto;
  width: 75%;
}

.sec3text h2{
  font-size: 60px;
  font-family: 'Tulpen One', cursive;
  text-align: center;
}
.section3 hr {
  background: linear-gradient(45deg, #009688, #f9004d, #ffd587, #f2ff41);
  color: transparent;
  z-index: 1;
  border: none;
  height: 2px;
  width: 100%;
  margin-bottom: 50px;
}

.sec3image {
  flex: 1;
  max-width: 50%;
}

.sec3image img{
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin-left: 60px;
}

/* Media query for screens smaller than 768px (e.g., mobile phones) */
@media (max-width: 768px) {
  .sec3cont {
    flex-direction: column;
    align-items: center;
  }

  .sec3text{
    max-width: 100%;
  }

  .sec3image img{
    max-width: 100%;
    margin: 0 auto;
  }

  .sec3text {
    padding: 20px 10px;
  }
}

.section4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lightgray;
  padding-top: 40px;  
}

.sec4cont {
  flex-grow: 1; 
  padding-right: 20px; 
  margin-bottom: 10px;
  
}

.sec4cont h2{
  padding-left: 400px;  
  font-family: 'Tulpen One', cursive;
  font-size: 50px;
}

.sec4cont ul {
  list-style-type: disc; 
  padding-left: 400px; 
  font-size: 20px;
  line-height: 1.5;
}

.sec4imgcont img {
  max-width: 300px; 
  height: auto; 
  padding-right: 300px;
  margin-bottom: 10px;
}

/* Media query for 768px*/
@media (max-width: 768px) {
  .section4 {
    flex-direction: column; /* Stack the items vertically */
    text-align: center; /* Center the entire section */
  }

  .sec4cont h2{
    padding-left: 0;
  }
  .sec4cont ul {
    padding-left: 0; /* Remove left padding */
    margin-top: 15px;
  }

  .sec4cont ul li{
    margin: 10px;
  }

  .sec4imgcont img{
    padding-right: 0; /* Remove right padding */
    margin: 0 auto;
    max-width: 50%;
    height: auto;
    
  }
}

.section5 {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  background: lightgray;
  padding: 20px;
  text-align: center; 
}

.sec5cont{
  margin-right: 300px;
  text-align: center;
  align-items: center;
}

.sec5cont h2{
  font-family: 'Tulpen One', cursive;
  font-size: 50px;
}

.sec5cont ol{
  font-size: 20px;
  margin-top: 30px;
  line-height: 2;
}

.sec5imgcont img {
  max-width: 300px; 
  height: auto; 
  padding-left: 350px;
}

/* Media query for 768px*/
@media (max-width: 768px) {
  .section5 {
    flex-direction: column; /* Stack the items vertically */
    text-align: center; /* Center the entire section */
  }

  .sec5cont {
    margin-right: 0; /* Remove right margin */
  }

  .sec5imgcont img {
    padding-left: 0; /* Remove left padding */
    max-width: 50%;
    height: auto;
  }
}

/*footer content*/
footer{
  background-color: #111;
}

.footercontainer{
  width: 100%;
  padding: 70px 30px 20px;
}

.socialicons{
  display: flex;
  justify-content: center;
}

.socialicons a{
  text-decoration: none;
  padding: 10px;
  background-color: #ffffff;
  margin: 10px;
  border-radius: 50%;
}

.socialicons a i{
  color: #000000;
  opacity: 0.9;
}

.socialicons a:hover{
  background-color: #111;
  transition: 0.5s;
}

.socialicons a:hover i{
  color: white;
  transform: 0.5s;
}

.footernav{
  margin: 30px 0;
}

.footernav ul{
  display: flex;
  justify-content: center;
  list-style: none;
}

.footernav ul li a{
  color: #ffffff;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.7;
}

.footernav ul li a:hover{
  opacity: 1;
}

.footerbottom{
  background-color: #000000;
  padding: 20px;
  text-align: center;
}

.footerbottom p{
  color: #ffffff;
}

.designer{
 opacity: 0.7; 
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: 400;
 margin: 0px 5px;
}

@media (max-width: 700px){
  
  .footernav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .footernav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
    
  }
}